    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button style="padding-top:10px"  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-Kynetx" href="/"><!-- img src="/img/Shield-40.png"/--> CloudOS</a>
        </div>
        <div style="padding-top:0px" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
{% if page.type != 'homepage' %} 
            <!-- <li><a href="/">Home</a></li> -->
{% endif %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
		 <li><a href="https://github.com/kre/Kinetic-Rules-Engine">Kinetic Rules Engine</a></li>
                 <li><a href="https://github.com/kynetx/CloudOS">CloudOS</a></li>

		 <li><a href="https://github.com/kynetx/CloudOS.js">CloudOS.js</a></li>
		 <li><a href="https://github.com/windley/CloudOS-Todo-Demo">CloudOS Todo Demo</a></li>
                 <li><a href="https://github.com/kynetx/Forever/blob/master/README.md">Forever</a></li>
              </ul>
            </li>
            <li><a href="http://developer.kynetx.com/">Documentation</a></li>

	    <li><a href="http://developer.kynetx.com/display/docs/Quickstart">QuickStart</a></li>
	    <li><a href="about.html">About Us</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
